IpagJuniperSyslogPdvp/src/test/resources/ActionRegistry.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://registry.action.mediation.uca.hp.com/" targetNamespace="http://registry.action.mediation.uca.hp.com/" elementFormDefault="qualified">

	<xs:complexType name="ActionType">
		<xs:sequence>
			<xs:element ref="ServiceName"/>
			<xs:element ref="NmsName"/>
		</xs:sequence>
		<xs:attribute name="actionReference" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ActionRegistryXML">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MediationValuePack" type="MediationValuePackType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MediationValuePackType">
		<xs:sequence>
			<xs:element name="Action" type="ActionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="MvpName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MvpVersion" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="url" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI" />
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="brokerURL" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="NmsName">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServiceName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>